

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px){
  span.titleList  {
    margin: 3px;
   font-family: 'Pacifico', cursive;
  }
  .h3,
  h4 {
    font-family: 'Courgette', cursive;
  }
  .imgList {
    width: 100%;
    margin-top: 10%;
  }
  #listTitle,
  #listAuthor {
    font-family: 'Pacifico', cursive;
    margin: 0.2em;
    margin: 0.2em;
    color: #007bff;
  }
  .main-button{
    width: 100%;
    height: 100%;
    background: #007bff;
    margin: 0.5em 0 0.5em 0;

  }
 }

 /* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  span.titleList  {
    margin: 3px;
    font-family: 'Pacifico', cursive;
  }
  .h3,
  h4 {
    font-family: 'Courgette', cursive;
  }
  .imgList {
    width: 80%;
    margin-top: 10%;
  }
  #listTitle,
  #listAuthor {
    font-family: 'Pacifico', cursive;
    margin: 0.2em;
    color: #007bff;
  }
  .main-button{
    width: 80%;
    height: 100%;
    background: #007bff;
    margin: 0.5em 0 0.5em 0;

  }
 }

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  span.titleList  {
    margin: 3px;
    font-family: 'Pacifico', cursive;
  }
  .h3,
  .h4 {
    font-family: 'Courgette', cursive;
  }
  .imgList {
    width: 60%;
    margin-top: 10%;
  }
  #listTitle,
  #listAuthor {
    font-family: 'Pacifico', cursive;
    margin: 0.2em;
    color: #007bff;
  }
  .h3,
  h4 {
    font-family: 'Courgette', cursive;
  }
  .main-button{
    width: 60%;
    height: 100%;
    background: #007bff;
    margin: 0.5em 0 0.5em 0;

  }
 }

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 5000px) {
  span.titleList  {
    margin: 3px;
    font-family: 'Pacifico', cursive;
  }
  .h3,
  h4 {
    font-family: 'Courgette';
    margin-top: 0.5em;

  }


  .main-book-list {
    margin:0;

  }
  .imgListBox{
    width: 100%;
  }
  .imgList {
    width: 40%;
    margin-top: 0.5em;


  }

  #listTitle,
  #listAuthor {
    font-family: 'Pacifico', cursive;
    margin: 0.2em;
    color: #007bff;
  }
  hr {
    background-color: rgba(0,123,255,.5);
    margin: 1em 0 1em 0;
  }
  .main-button{
    width: 100%;
    height: 100%;
    background: transparent;

  }
.panelListBook {
  background-color:wheat;
}
mat-paginator {
  margin: 1rem;
}
 }
