<mat-expansion-panel
  *ngFor="let book of (issues | sortName)"
  class="panelListBook"
>
  <mat-expansion-panel-header>
    <span class="titleList">Tytuł:</span>
    <p id="listTitle">{{ book.title | upperCase }}</p>
  </mat-expansion-panel-header>

  <div class="container-fluid main-book-list ">
    <div class="row">
      <div class="col-sm-12 col-lg-4 text-center">
        <h4 class="h4">
          Autor: <br />
          <p id="listTitle">{{ book.author }}</p>
          <p id="listDescrip">{{ book.description | descriptionList }}</p>
          <button
            type="button"
            class="btn  main-button"
            (click)="detalsForm(book._id)"
          >
            więcej
          </button>
        </h4>
      </div>
      <div class="col-sm-12 col-lg-4 text-center imgListBox">
        <img
          [src]="book.imagePath"
          [alt]="book.title"
          class="img-fluid imgList"
        />
      </div>
      <div class="col-sm-12 col-lg-4 text-center">
        <h4 class="h4">
          Bohaterowie
          <p id="listHeros">{{ book.heroes }}</p>
        </h4>
      </div>
    </div>
  </div>
  <mat-action-row> </mat-action-row>
</mat-expansion-panel>
<mat-paginator
  [length]="totalBook"
  [pageSize]="bookPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangePage($event)"
></mat-paginator>
<ng-template #noBook><p>nie ma</p></ng-template>
<router-outlet></router-outlet>
