<div>
  <br>
  <section>
    <h2>Edytowanie</h2>
  </section>
  <mat-divider></mat-divider>
  <mat-card>
    <form [formGroup]="updateForm" class="editForm">
      <mat-form-field class="field-fule-width ">
        <input matInput placeholder="Tytuł" formControlName="title" #title>
      </mat-form-field>
      <mat-form-field class="field-fule-width ">
        <input matInput placeholder="Autor" formControlName="author" #author>
      </mat-form-field>
      <mat-form-field class="field-fule-width ">
        <input matInput placeholder="Karegoria" formControlName="category" #category>
      </mat-form-field>
      <mat-form-field class="field-fule-width ">
        <input matInput placeholder="Bohaterowie" formControlName="heroes" #heroes>
      </mat-form-field>
      <mat-form-field class="field-fule-width ">
        <textarea matInput placeholder="Opis" formControlName="description" #description></textarea>
      </mat-form-field>
      <mat-form-field class="field-fule-width ">
        <input matInput placeholder="E-mail" formControlName="email" #email>
      </mat-form-field>
      <mat-form-field class="field-fule-width ">
        <input matInput placeholder="Właściciel" formControlName="owner" #owner>
      </mat-form-field>

      <mat-form-field class="field-fule-width ">
          <mat-select placeholder="Dostep" formControlName="access" #access>
            <mat-option value="true">Wypożycze</mat-option>
            <mat-option value="false">Wypożyczona</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-stroked-button type="button" (click)="fileGet.click()">Dodaj zdjęcie</button>
          <input type="file" #fileGet (change)="onImagePiked($event)">
        </div>


        <mat-divider></mat-divider>
        <br><br>

        <button type="submit"(click)="updateIssue(title.value, author.value, category.value, heroes.value,
         description.value, email.value, owner.value, access.value, imagePreview)"

         [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button  routerLink="/list" >Zapisz</button>




    </form>
  </mat-card>

  <img class="image-preview" *ngIf="imagePreview !== '' && imagePreview && updateForm.get('image').valid" [src]="imagePreview"
  [alt]="updateForm.value.title">

