body {
  padding: 0;

}

.createForm {
  width: 100%;
  margin: 0 auto;

}

.field-fule-width {
  display: inline;

}
input[type="file"] {
  visibility: hidden;
}

.image-preview {


  text-align: center;
}

.image-preview img {
  height: 60%;
  width: auto;
  text-align: center;
}
.border {
  border: 4px solid black;
  text-align: center;
}

