<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <mat-divider></mat-divider>
      <mat-card>
        <form [formGroup]="createForm" class="createForm">
          <mat-form-field class="field-fule-width ">
            <input
              matInput
              placeholder="Tytuł"
              formControlName="title"
              #title
            />
          </mat-form-field>
          <mat-form-field class="field-fule-width ">
            <input
              matInput
              placeholder="Autor"
              formControlName="author"
              #author
            />
          </mat-form-field>
          <mat-form-field class="field-fule-width ">
            <input
              matInput
              placeholder="Karegoria"
              formControlName="category"
              #category
            />
          </mat-form-field>
          <mat-form-field class="field-fule-width ">
            <input
              matInput
              placeholder="Bohaterowie"
              formControlName="heroes"
              #heroes
            />
          </mat-form-field>
          <div
            class="container buttonEdit"
            *appContenteditable="
              let clickButton = controllerButton;
              let discryptionBook
            "
          >
            <mat-form-field class="field-fule-width descriptionClass">
              <input
                matInput
                placeholder="Opis"
                formControlName="description"
                #description
                id="description"
                [ngModel]="discryptionBook"
              />
            </mat-form-field>
            <div class="contenteditableSec">
              <ul style="list-style-type: none">
                <button
                  class="btn btn-primary bold "
                  (click)="clickButton.bold()"
                >
                  <i class="fas fa-bold"></i>
                </button>
                <button
                  class="btn btn-primary italic"
                  (click)="clickButton.italic()"
                >
                  <i class="fas fa-italic"></i>
                </button>
                <button
                  class="btn btn-primary"
                  (click)="clickButton.underline()"
                >
                  <i class="fas fa-underline"></i>
                </button>
                <button class="btn btn-primary" (click)="clickButton.sad()">
                  <i class="far fa-frown-open"></i>
                </button>
                <button class="btn btn-primary" (click)="clickButton.smail()">
                  <i class="far fa-smile-beam"></i>
                </button>
                <button class="btn btn-primary" (click)="clickButton.delete()">
                  <i class="fas fa-backspace"></i>
                </button>
              </ul>

              <div contenteditable="true" class="contenteditable">
                Opis ksiązki
              </div>
            </div>
          </div>

          <mat-form-field class="field-fule-width ">
            <input
              type="email"
              matInput
              placeholder="E-mail"
              formControlName="email"
              #email
              value="{{authService.user.email}}"
            />
          </mat-form-field>
          <mat-form-field class="field-fule-width ">
            <mat-select
              placeholder="Zgodan na powiadomienia email"
              formControlName="emailChekbox"
              #emailChekbox
            >
              <mat-option value="true">Tak</mat-option>
              <mat-option value="false">Nie</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="field-fule-width ">
            <input
              matInput
              placeholder="Właściciel"
              formControlName="owner"
              #owner
            />
          </mat-form-field>

          <mat-form-field class="field-fule-width ">
            <mat-select placeholder="Dostep" formControlName="access" #access>
              <mat-option value="true">Wypożycze</mat-option>
              <mat-option value="false">Wypożyczona</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-stroked-button type="button" (click)="fileGet.click()">
              Dodaj zdjęcie
            </button>
            <input
              type="file"
              style="visibility: hidden"
              #fileGet
              (change)="onImagePiked($event)"
            />
          </div>

          <mat-divider></mat-divider>
          <br /><br />

          <button
            type="submit"
            (click)="
              addIssue(
                title.value,
                author.value,
                category.value,
                heroes.value,
                description,
                email.value,
                emailChekbox.value,
                owner.value,
                access.value,
                imagePreview
              )
            "
            [disabled]="createForm.pristine || createForm.invalid"
            mat-raised-button
          >
            Dodaj
          </button>
        </form>
      </mat-card>
    </div>
    <div class="col-sm-12 col-lg-4 text-center">
      <p>Zdjęcie twojej Ksiązki</p>
      <img
        class="image-preview"
        *ngIf="
          imagePreview !== '' && imagePreview && createForm.get('image').valid;
          else: noImg
        "
        [src]="imagePreview"
        [alt]="createForm.value.title"
      />
    </div>
  </div>
</div>
<ng-template #noImg>
  <img
    src="http://localhost:4000/images/emotic/defaultBook.jpg"
    alt="Domyśleme zdjęcie"
  />
</ng-template>
